*.slurm
env_thesis
__pycache__
tensors
tensors_csv
train_terrain_noise
train_ant_xml
env_images
run_graphs
presentation_video.mp4
paper/paper.out
paper/paper.synctex(busy)
evo_vid
.vscode/launch.json
nohup.out
combined_data
*.log
list_last_tensors_gen.py
list_last_tensors_spec.py
create_excel_exp.py
create_bp_all_exp.py

runs/**/gen_tensors
runs/**/screenshots
runs/**/fitness_evals_envs
runs/**/morph_params_evolution_plots
runs/**/evolution_video.mp4
runs
fitness_df
test
# runs/_olds_or_wrong
# runs/FullGen-DefaultMorph-Gen
# runs/FullGen-MorphEvo-Gen
# runs/OurAlgo-DefaultMorph-Gen
# runs/OurAlgo-LargeMorph-Gen
# runs/Spec-DefaultMorph
# runs/Spec-MorphEvo
# runs/Spec-MorphEvo-Long

# runs/OurAlgo-MorphEvo-Gen/**/E_established.pkl
# runs/OurAlgo-MorphEvo-Gen/**/E_var.pkl
# runs/OurAlgo-MorphEvo-Gen/**/env_fitnesses_test.pkl
# runs/OurAlgo-MorphEvo-Gen/**/env_fitnesses_training.pkl
# runs/OurAlgo-MorphEvo-Gen/**/fitness_boxplot.pdf
# runs/OurAlgo-MorphEvo-Gen/**/fitness_heatmap.pdf
# runs/OurAlgo-MorphEvo-Gen/**/G_var.pkl
# runs/OurAlgo-MorphEvo-Gen/**/generalist_heatmap_partition.pdf
# runs/OurAlgo-MorphEvo-Gen/**/hm_partition_by_algo.pdf
# runs/OurAlgo-MorphEvo-Gen/**/hm_partition_by_best_mc.pdf
# runs/**/videos_env
# runs/**/evolution_video.mp4
